.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #000000;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  justify-content: center;
  align-items: center;
  width:300px ;
  height: 300px;
  background: url('/Project 1/Photo1/Снимок\ экрана_20230225_20052633.png') no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
  transition: 0s opacity;
}
.loaded .preloader {
  display: none;
}